{%extends 'dashboard/admin_base.html' %}
{%block content%}

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">dashboard</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Create New Post</li>
          </ol>

        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group input-group-outline">
              
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">

            <li class="nav-item d-flex align-items-center">
               
              {%if current_user.is_authenticated%}
              <a href="/logout" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Sign Out</span>
              </a>

              {%else%}

              <a href="/login" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Sign In</span>
              </a>
              {%endif%}

            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0">

              </a>
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                
              </a>
           
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Create New Product</h6>
              </div>
            </div>


            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                

                  {%if update == "yes"%}
                  <form class="form-signin" method="post" action="/update/{{product.id}}" enctype="multipart/form-data">
                    <div class="h5 mb-3 ">

                 {%for message in get_flashed_messages()%}
                    {{message}}
                  {%endfor%}
                 </div>
                    <label for="Name" class="sr-only">Name</label>
                    <input type="text" id="Name" value="{{product.name}}" name="name" class="form-control border " placeholder="Product Name" required="" autofocus="">
                      <br>
                    <input type="text" id="description" value="{{product.description}}" name="description" class="form-control border " placeholder="Product description" required="" autofocus="">

                    <br>
                      <input type="text" id="description" value="{{product.additional_description}}" name="additional_description" class="form-control border " placeholder="Product description" required="" autofocus="">
                      <br>
                        <input type="text" id="tags" name="tags" class="form-control border " value="{{product.tags}}" placeholder="Tags, Separated by comma ," required="" autofocus="">

                      <select class="form-select border " id="typeOfGlass" aria-label="Default select example" name="category">
                        <option selected>{{product.category}}</option>
                        <option value="Plushies">Plushies</option>
                        <option value="Handmade">Handmade Item</option>
                        <option value="Swag">Swag</option>
                        <option value="Axolotls">Axolotls</option>
                      </select>
                      <br>


                      <select class="form-select border " id="glassWidth" aria-label="Default select example" name="sub-category">
                        <option selected>{{product.sub_category}}</option>
                        <option>Blue</option>
                        <option>Purple</option>
                        <option>Pink</option>
                      </select>
                      <br>

                      <script>

        $('#typeOfGlass').on('change', function(){
   console.log($('#typeOfGlass').val());
    $('#glassWidth').html('');
    if($('#typeOfGlass').val()=="Plushies"){
        $('#glassWidth').append('<option value="Blue">Blue</option>');
        $('#glassWidth').append('<option value="Purple">Purple</option>');
        $('#glassWidth').append('<option value="Pink">Pink</option>');
    }
    else if($('#typeOfGlass').val()=="Handmade"){

        $('#glassWidth').append('<option value="Crochet">Crochet</option>');
        $('#glassWidth').append('<option value="Clay">Clay</option>');
    }
    else if($('#typeOfGlass').val()=="Swag"){

        $('#glassWidth').append('<option value="Shirts">Shirts</option>');
        $('#glassWidth').append('<option value="Hats">Hats</option>');
    }
    else if($('#typeOfGlass').val()== "Axolotls") {
    document.getElementById("glassWidth").style.display= "none";
    }
    else{

    }
});
                      </script>





                      <input type="text"  name="stock" value="{{product.stock}}" class="form-control border " placeholder="stock" required="">
                      <br>

                      <select class="form-select border " aria-label="Default select example" name="visibility">
                        <option selected>{{product.visibility}}</option>
                        {%if product.visibility=="True" %}
                        <option>False</option>
                        {%else%}
                        <option>True</option>
                        {%endif%}
                      </select>
                       <br>
                      
                        
                      <input type="number"  name="unit_price" value="{{product.unit_price}}" class="form-control border " placeholder="Price" required="">
                       
                      <br>
                      <input type="file" name="image" class="form-control-file border " placeholder="Picture">
                      <br><br>
                    
                      <button class="btn btn-lg btn-primary btn-block" type="submit">Add Product</button>

                  </form>
         {%else%}
                  <div style="margin: 0px 10% 0px 10%;">
                  <form class="form-signin" method="post" action="/add_post" enctype="multipart/form-data">
                    <div class="h5 mb-3 " >

                 {%for message in get_flashed_messages()%}
                    {{message}}
                  {%endfor%}

                    </div>
                    <label for="Name" class="sr-only">Name</label>
                    <input type="text" id="Name" name="name" class="form-control border" placeholder="Product Name" required="" autofocus="">
                      <br>
                    <input type="text" id="description" name="description" class="form-control border " placeholder="Product description" required="" autofocus="">
                        <br>
                    <input type="text" id="additional_description" name="additional_description" class="form-control border" placeholder="Additional Product description" required="" autofocus="">
                    <br>
                      <input type="text" id="tags" name="tags" class="form-control border " placeholder="Tags, Separated by comma ," required="" autofocus="">
                    <br>


                    <!-- id, name, description, category, stock,
created, modified, unit_price, visibility [true, false] -->

                      <select class="form-select border" id="typeOfGlass" aria-label="Default select example" name="category" required>
                        <option value="">Select Category</option>
                        <option value="Plushies">Plushies</option>
                        <option value="Handmade">Handmade Item</option>
                        <option value="Swag">Swag</option>
                        <option value="Axolotls">Axolotls</option>

                      </select>
                      <br>


<!--start of axolotls category-->
                    <div style="margin:0px 15% 0px 15%;" id="axo">

                    <div id="size" style="display:none">
                    <select class="form-select border " id="size2" aria-label="Default select example" name="size">
                        <option value="">Select Size</option>
                        <option>3-5</option>
                        <option>5-7</option>
                        <option>7+</option>
                      </select>
                    <br>
                      </div>


                     <div id="gender" style="display: none;">
                    <select class="form-select border " id="gender2" aria-label="Default select example" name="gender">
                        <option value="">Select Gender</option>
                        <option>Unknown</option>
                        <option>Confirmed Male</option>
                        <option>Confirmed Female</option>
                      </select>
                    <br>
                      </div>


                        <div id="flourescence" style="display:none">
                            <p>select flourescence</p>
                                            <div class="form-check">
  <input class="form-check-input" type="checkbox" value="none" id="flexCheckDefault" name="none">
  <label class="form-check-label" for="flexCheckDefault">
    None
  </label>
</div>

                                            <div class="form-check">
  <input class="form-check-input" type="checkbox" value="GFP" id="flexCheckDefault" name="gdp">
  <label class="form-check-label" for="flexCheckDefault">
    GDP
  </label>
</div>

                                                                  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="RFP" id="flexCheckDefault" name="rfp">
  <label class="form-check-label" for="flexCheckDefault">
    RFP
  </label>
</div>

                        </div>


                      <div id="homozygous" style="display:none">
                          <p>select Homozygous</p>
                <div class="form-check">
  <input class="form-check-input" type="checkbox" value="Leucistic" id="flexCheckDefault" name="leucistic">
  <label class="form-check-label" for="flexCheckDefault">
    Leucistic
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Melanoid" id="flexCheckChecked" name="melanoid">
  <label class="form-check-label" for="flexCheckChecked">
    Melanoid
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Hypomelanistic" id="flexCheckChecked" name="hypomelanistic">
  <label class="form-check-label" for="flexCheckChecked">
    Hypomelanistic
  </label>
</div>

                          <div class="form-check">
  <input class="form-check-input" type="checkbox" value="Albino" id="flexCheckChecked" name="albino">
  <label class="form-check-label" for="flexCheckChecked">
    Albino
  </label>
</div>

                          <div class="form-check">
  <input class="form-check-input" type="checkbox" value="Copper" id="flexCheckChecked" name="copper" >
  <label class="form-check-label" for="flexCheckChecked">
    Copper
  </label>
</div>

                          <div class="form-check">
  <input class="form-check-input" type="checkbox" value="Axanthic" id="flexCheckChecked" name="axanthic" >
  <label class="form-check-label" for="flexCheckChecked">
    Axanthic
  </label>
</div>



                    <br>
                      </div>





<!--                        <div id="albino" style="margin:0px 15% 0px 15%; display:none    ">-->
<!--                    <select class="form-select border " id="albino2" aria-label="Default select example" name="albino"-->
<!--                    >-->
<!--                        <option value="">Select on of the following</option>-->
<!--                        <option>Regular</option>-->
<!--                        <option>Golden</option>-->
<!--                      </select>-->
<!--                    <br>-->
<!--                      </div>-->


<!--                        Melanoid start-->
<!--                                                <div id="melanoid" style="margin:0px 15% 0px 15%; display:none    ">-->
<!--                    <select class="form-select border " id="melanoid2" aria-label="Default select example" name="melanoid"-->
<!--                    >-->
<!--                        <option value="">Select on of the following</option>-->
<!--                        <option>Regular</option>-->
<!--                        <option>Hypomelanistic</option>-->
<!--                      </select>-->
<!--                    <br>-->
<!--                      </div>-->
<!--                        melanoid end-->



<!--                        Leucistic start     -->

<!--                        <div id="leucistic" style="margin:0px 15% 0px 15%; display:none    ">-->
<!--                    <select class="form-select border " id="leucistic2" aria-label="Default select example" name="leucistic"-->
<!--                    >-->
<!--                        <option value="">Select one of the following</option>-->
<!--                        <option>Clean</option>-->
<!--                        <option>Freckled</option>-->
<!--                        <option>Very Dirty</option>-->
<!--                      </select>-->
<!--                    <br>-->
<!--                      </div>-->
<!--                      Leucistic end      -->




<!--                        Wild start     -->

<!--                        <div id="wild" style="margin:0px 15% 0px 15%; display:none    ">-->
<!--                    <select class="form-select border " id="wild2" aria-label="Default select example" name="wild"-->
<!--                    >-->
<!--                        <option value="">Select one of the following</option>-->
<!--                        <option>Standard</option>-->
<!--                        <option>Starburst</option>-->
<!--                        <option>Light</option>-->
<!--                        <option>Dark</option>-->
<!--                      </select>-->
<!--                    <br>-->
<!--                      </div>-->
<!--                      Wild end      -->



                         <!--                      Heterozygous Traits -->
                        <div id="heterozygous" style="display:none">

                                  <p>Select Heterozygous</p>
                <div class="form-check">
  <input class="form-check-input" type="checkbox" value="Leucistic" id="flexCheckDefault" name="h_leucistic">
  <label class="form-check-label" for="flexCheckDefault">
    Leucistic
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Melanoid" id="flexCheckChecked" name="h_melanoid">
  <label class="form-check-label" for="flexCheckChecked">
    Melanoid
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Hypomelanistic" id="flexCheckChecked" name="h_hypomelanistic">
  <label class="form-check-label" for="flexCheckChecked">
    Hypomelanistic
  </label>
</div>

                          <div class="form-check">
  <input class="form-check-input" type="checkbox" value="Albino" id="flexCheckChecked" name="h_albino">
  <label class="form-check-label" for="flexCheckChecked">
    Albino
  </label>
</div>

                          <div class="form-check">
  <input class="form-check-input" type="checkbox" value="Copper" id="flexCheckChecked" name="h_copper" >
  <label class="form-check-label" for="flexCheckChecked">
    Copper
  </label>
</div>

                          <div class="form-check">
  <input class="form-check-input" type="checkbox" value="Axanthic" id="flexCheckChecked" name="h_axanthic" >
  <label class="form-check-label" for="flexCheckChecked">
    Axanthic
  </label>
</div>

                      </div>

<!--                     end Heterozygous Traits   -->


                        <script>

                        </script>






<!--                      end of axolotls cat-->
                    </div>

                      <select class="form-select border " id="glassWidth" aria-label="Default select example" name="sub-category">
                        <option selected>Select Sub-Category</option>
                        <option>Blue</option>
                        <option>Purple</option>
                        <option>Pink</option>
                      </select>
                      <br>


                      <script>

    $('#typeOfGlass').on('change', function(){
   console.log($('#typeOfGlass').val());
    $('#glassWidth').html('');

    if($('#typeOfGlass').val()=="Plushies")

    {
    document.getElementById("axo").style.display= "none";
    document.getElementById("glassWidth").style.display= "block";
    $('#glassWidth').append('<option value="Blue">Blue</option>');
    $('#glassWidth').append('<option value="Purple">Purple</option>');
    $('#glassWidth').append('<option value="Pink">Pink</option>');
    }

    else if($('#typeOfGlass').val()=="Handmade")

    {
    document.getElementById("axo").style.display= "none";
    document.getElementById("glassWidth").style.display= "block";
    $('#glassWidth').append('<option value="Crochet">Crochet</option>');
    $('#glassWidth').append('<option value="Clay">Clay</option>');
    }

    else if($('#typeOfGlass').val()=="Swag")

    {
    document.getElementById("axo").style.display= "none";
    document.getElementById("glassWidth").style.display= "block";
    $('#glassWidth').append('<option value="Shirts">Shirts</option>');
    $('#glassWidth').append('<option value="Hats">Hats</option>');
    }

    else if($('#typeOfGlass').val()== "Axolotls")

    {
    document.getElementById("glassWidth").style.display= "none";
    document.getElementById("axo").style.display = "block";
    document.getElementById("size").style.display= "block";
    document.getElementById("gender").style.display= "block";
    document.getElementById("homozygous").style.display= "block";
    document.getElementById('heterozygous').style.display = 'block';
    document.getElementById('flourescence').style.display = 'block';


     $('#homozygous2').on('change', function(){
     console.log($('#homozygous2').val());
     if ($('#homozygous2').val() == "Albino"){
             document.getElementById('melanoid').style.display = "none";
             document.getElementById('albino').style.display = "block";
             document.getElementById('leucistic').style.display = "none";
             document.getElementById('wild').style.display = "none";
         }
     else if ($('#homozygous2').val() == "Melanoid") {
             document.getElementById('melanoid').style.display = "block";
             document.getElementById('albino').style.display = "none";
             document.getElementById('leucistic').style.display = "none";
             document.getElementById('wild').style.display = "none";
     }

     else if ($('#homozygous2').val() == "Leucistic") {
             document.getElementById('melanoid').style .display = "none";
             document.getElementById('albino').style.display = "none";
             document.getElementById('wild').style.display = "none";
             document.getElementById('leucistic').style.display = "block";

             }

     else if ($('#homozygous2').val() == "Wild") {
             document.getElementById('melanoid').style .display = "none";
             document.getElementById('albino').style.display = "none";
             document.getElementById('leucistic').style.display = "none";
             document.getElementById('wild').style.display = "block";

             }
     else{
            document.getElementById('albino').style.display = 'none';
            document.getElementById('melanoid').style.display = "none";
            document.getElementById('leucistic').style.display = "none";
            document.getElementById('wild').style.display = "none";
        }

          });

    }

    else if($('#typeOfGlass').val()== "Heterozygous Traits")

    {
    document.getElementById("axo").style.display= "none";
    document.getElementById("glassWidth").style.display= "block";
    $('#glassWidth').append('<option value="Albino">Albino</option>');
    $('#glassWidth').append('<option value="Copper">Copper</option>');
    $('#glassWidth').append('<option value="Melanoid">Melanoid</option>');
    $('#glassWidth').append('<option value="Axanthic">Axanthic</option>');
    $('#glassWidth').append('<option value="Leucistic">Leucistic</option>');
    }
    else{

    }
});
                      </script>


                      <input type="text"  name="stock" class="form-control border " placeholder="stock" required="">
                      <br>

                      <select class="form-select border " aria-label="Default select example" name="visibility">
                        <option selected>True</option>
                        <option>False</option>
                      </select>
                       <br>
                      
                        
                      <input type="number"  name="unit_price" class="form-control border " placeholder="Price" required="">
                       
                      <br>
                      <input type="file" name="image" class="form-control-file border " placeholder="Picture" required="">
                      <br><br>
                      <input type="file" name="image2" class="form-control-file border " placeholder="Picture">
                      <br><br>
                      <input type="file" name="image3" class="form-control-file border " placeholder="Picture" >
                      <br><br>
                    
                      <button class="btn btn-lg btn-primary btn-block" type="submit">Add Product</button>

                  </form>


            {%endif%}
</div>
              
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>


 {%endblock%}