{%extends 'base.html' %}
{%block content%}


<div class="container">
<!-- to be filled by the Python script -->
<div class="row">
  <div class="col">
    <h1>{{ the_title }}</h1>
  </div>
</div>

<!-- note how items from the "static" folder are linked -->

  <div class="row">
    <div class="col">
      <div style="background-color: rgba(255,0,0,0.1);">
        <img alt="Photo: Melanoid Leucistic Axolotl" class="img-fluid rounded" src="{{ url_for('static', filename='images/coyote_eye.jpg') }}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="credit">Coyote the Melanoid (het copper): Photo by John</p>

      <!-- linking to an exact spot on page was found on stackoverflow https://stackoverflow.com/questions/35843675/link-to-a-specific-location-in-a-flask-template -->
      <h2>Discover the Fascinating World of Axolotls!</h2>
      <h4><em>Salamanders with Unique Traits</em></h4><br>
      <p>Did you know that the <a class="inline" href="{{ url_for('Glossary', _anchor='axolotl') }}">axolotl</a> is a fully aquatic salamander that is native to only two lakes in Mexico? It is often associated with the floating gardens known as <a class="inline" href="{{ url_for('Glossary', _anchor='chinampa') }}">chinampas</a>, which were created by the ancient Aztecs in these lakes. Unlike most salamander species, axolotls don't undergo metamorphosis and retain their larval features throughout their lives, a phenomenon known as neoteny (adjective: <a class="inline" href="{{ url_for('Glossary', _anchor='neotenic') }}">neotenic</a>). Along with their unique appearance, axolotls have the amazing ability to regenerate limbs and organs, including their heart and certain parts of their brain!</p>
      <p>Axolotls come in a variety of colors and patterns, which are influenced by various proteins and structures in their skin, see <a class="inline" href="{{ url_for('Glossary', _anchor='chromatophore') }}">chromatophores</a>. These variations of their genetic traits result in different <a class="inline" href="{{ url_for('Glossary', _anchor='morph') }}">morphs</a>. If you're considering getting an axolotl as a pet, you may end up looking for one that is a specific color (morph). It is important to know that their average lifespan is about 10 years, but some have been known to live up to 15 years or more. On average, adult axolotls grow to be 9-10 inches (23-30 cm) long. This care guide will provide you with the information you need to properly care for these fascinating creatures.
      </p><br>

      <h2>Tank Size and Water Quality for Axolotls:</h2>
      <h4><em>How to Provide the Perfect Home for Your Aquatic Salamander</em></h4><br>
      <p>The axolotl may be small, but it requires a large aquarium to live a healthy and happy life. With a heavy bio load and a need for ample floor space, a minimum tank size of 29 gallons (110 liters) per axolotl is recommended, although a 40 gallon breeder tank (180 liter) is even better. With their rapid growth and high waste production, maintaining proper <a class="inline" href="{{ url_for('Glossary', _anchor='water_quality') }}">water quality</a> is essential for axolotls, and a larger water volume will make it easier to keep nitrate levels below 20 ppm through regular partial water changes. When selecting a tank, keep in mind that axolotls prefer longer, wider tanks and may need a lid to prevent accidental jumping. With the right tank and care, you can provide the perfect home for your aquatic salamander friend.
      </p><br>

      <h2>Food for Thought</h2>
      <h4><em>Diet of the Mighty Axolotl</em></h4><br>
      <p>Axolotls are <a class="inline" href="{{ url_for('Glossary', _anchor='suction_feeder') }}">suction feeders</a>. They require a specific diet to meet their nutritional requirements, and the consensus among enthusiasts is that red wrigglers or nightcrawlers are the best option. These worms contain over 60% protein and have a Ca:P ratio greater than 1, which is essential for maintaining the health of axolotls. Pellets specifically designed for axolotls are also available and can be used if red wrigglers or nightcrawlers cannot be found. However, sinking carnivore pellets should be avoided.</p>
      <p>Feeder fish like goldfish and minnows are not recommended for regular feeding as they contain thiaminase, which can lead to thiamine deficiency in axolotls when eaten consistently. Additionally, some fish can damage the axolotl's gills and slime coat, and may carry diseases and parasites. Moreover, many fish require warmer water than axolotls, which can be uncomfortable for them to live in.</p>
      <p>Although occasional treats like frozen bloodworms and shrimp are acceptable, it is crucial to quarantine and medicate any shrimp purchased from pet stores for at least 30 days before introducing them to an axolotl tank to screen for diseases and parasites. Repashy Grub Pie can also be offered as a treat, but only in moderation due to its low nutritional value.</p>
      <p>Insects and their larvae should generally not be offered to axolotls as they contain chitin, which is indigestible for axolotls. Many insects also do not meet the dietary requirements of axolotls. Therefore, it is essential to provide a varied diet that is primarily based on red wrigglers or nightcrawlers to keep axolotls healthy and thriving.
      </p><br>

      <h2>Creating a Cozy Home:</h2>
      <h4><em>How to Enrich and Decorate Your Axolotl's Tank</em></h4><br>
      <p>Axolotls are not just any ordinary aquatic pet - they require specific tank setups to ensure their comfort and health. To provide an ideal home for your axolotl, it is essential to consider not only their physical needs but also their mental well-being. Here are some tips on how to enrich and decorate your axolotl's tank.
      </p>

      <ul class="my-list">
        <li>Hiding spots: Axolotls are naturally shy creatures and love to have plenty of hiding spots. Adding caves, PVC pipes, and other ornaments will provide them with a sense of security and comfort. It is also recommended to create multiple hiding spots in the tank, so they have options to choose from.</li>
        <li>Rearrange decorations: Rearranging tank decorations is an excellent way to keep your axolotl entertained and stimulated. You can move around the hiding spots, change the position of plants or add new ornaments to keep them interested.</li>
        <li>Live plants: Adding live plants to the axolotl tank is an excellent way to create a natural and relaxing environment. However, it is crucial to choose the right plants that can survive in low light and cold water conditions, such as Anubias, Elodea, java fern, java moss, and Marimo algae balls (though marimo balls pose a risk of impaction). Avoid using fertilizers since they can be harmful to your axolotl.</li>
        <li>Light sensitivity: Axolotls are sensitive to light due to their lack of eyelids. Therefore, it is best to keep the lighting low in the tank. If you do use lighting, choose a low-wattage bulb and only have it on for a few hours a day.</li>
      </ul>
        
      <p>By following these tips, you can create a cozy, stimulating, and enriching environment for your axolotl. Remember, a happy and healthy axolotl is a joy to watch and care for.
      </p><br>

      <h2>Sandy or Bare Bottom:</h2>
      <h4><em>Choosing the Right Flooring</em></h4><br>
      <p>When it comes to selecting substrate for your axolotl's aquarium, there are a few important factors to consider. As mentioned above, axolotls are <a class="inline" href="{{ url_for('Glossary', _anchor='suction_feeder') }}">suction feeders</a>. Therefore the risk of <a class="inline" href="{{ url_for('Glossary', _anchor='impaction') }}">impaction</a> is always present, as axolotls have a tendency to ingest loose substrate. Therefore, it's crucial to choose a substrate that poses the least amount of risk for your aquatic pet.</p>
      <p>A fine sand with a grain size of less than 1 mm is the safest option, as it poses minimal impaction risk for larger axolotls. However, younger axolotls should be kept on a bare bottom, substrate-free tank until they are at least 6 inches (15 cm) in length. Alternatively, larger rocks that are significantly larger than the axolotl's head can be used as substrate. A bare bottom tank is also an option, but may not provide as much grip for your axolotl.</p>
      <p>Regardless of the substrate you choose, be sure to avoid any gravel, small rocks, or decorations that are the same size as or smaller than the axolotl's head. And remember, a little research and planning goes a long way in providing a safe and comfortable habitat for your axolotl.
      </p><br>

      <h2>The Chemistry:</h2>
      <h4><em>Water Paramaters for Happy Lotls</em></h4><br>
      <p>Axolotls require a fully cycled aquarium before they can be introduced to the tank. Cycling an aquarium can take 4-8 weeks, so it is recommended to refrain from purchasing your axolotl until after the aquarium is fully cycled. A cycling guide can be followed to understand how to cycle your aquarium through the <a class="inline" href="{{ url_for('Glossary', _anchor='nitrogen_cycle') }}">nitrogen cycle.</a></p>
      <p>Axolotls are messy and produce waste, which can quickly pollute the water. Therefore, weekly water changes are necessary to keep nitrate levels below 20 ppm at all times. It is essential to keep track of water parameters since ammonia spikes are common in axolotl tanks. A water conditioner is necessary when adding new water to the aquarium, and Seachem Prime is often recommended for axolotls as it is safe for them and has additional benefits.</p>
      <p>It is important to note that aloe vera is an irritant to axolotls and should be avoided.</p>
      <p>The ideal water parameters for a cycled aquarium are 0 ppm ammonia, 0 ppm nitrite, and between 5 and 20 ppm nitrate. The pH level of the tank should be between 6.5 and 8.0. It is crucial to test the water frequently to ensure that the water is safe for axolotls. You may be wondering, why doesn't the nitrate range start at zero? Realistically, nitrate should never be at 0 ppm as animal waste is continuously being processed into nitrate. The well-being of axolotls cannot be determined solely by appearance, so monitoring water parameters is crucial.</p>
      <p>In conclusion, maintaining proper water parameters is crucial for the health and well-being of axolotls. Setting up a fully cycled aquarium, performing regular water changes, using appropriate water conditioner, and testing water frequently are necessary steps for ensuring that axolotls are healthy and thrive in their environment.
      </p><br>

      <h2>The Thermodynamics:</h2>
      <h4><em>Maintaining the Ideal Temperature for Your Axolotl's Tank</em></h4><br>
      <p>Axolotls are highly sensitive to changes in temperature, and keeping their water cool is crucial to their health and well-being. The ideal temperature range for axolotls is between 60-68˚F (15-20˚C). Any temperature above 68˚F (20°C) can cause stress and disease, while temperatures lower than 60˚F (15˚C) can significantly slow down their metabolism, which is harmful for extended periods.</p>
      <p>There are several ways to maintain a consistent and comfortable temperature for your axolotl's tank. The use of clip-on fans or aquarium chillers is highly recommended as they provide a reliable and consistent means of cooling the water. While frozen water bottles can be used in emergencies, they are not an efficient way to maintain a consistent temperature. It is important to have a reliable means of keeping the water temperature within the desired range for your axolotl's health.</p>
      <p>Remember that maintaining the ideal water temperature for your axolotl is crucial to their overall health and well-being, so be sure to monitor the water temperature regularly and take appropriate measures to ensure their comfort.
      </p><br>

      <h2>TTTTT</h2>
      <h4><em>ttttt</em></h4><br>
      <p>ppppp</p><br>

      <h2>TTTTT</h2>
      <h4><em>ttttt</em></h4><br>
      <p>ppppp</p><br>

    </div>
  </div>
</div>







{%endblock%}
