
{%extends "base.html"%}
{%block content%}
    <!-- Map Begin -->
    <div class="map">
       <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d106569.96365682835!2d70.63095064081044!3d33.41512585668603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x38d83bfe420cf445%3A0x9760609cec00cca1!2sJawar%20Ghundi%2C%20Hangu%2C%20Khyber%20Pakhtunkhwa%2C%20Pakistan!3m2!1d33.4150098!2d70.7133529!4m0!5e0!3m2!1sen!2s!4v1671769753360!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- Map End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <span>Information</span>
                            <h2>Contact Us</h2>
                            <p>As you might expect of a company that began as a high-end selling shop, we pay
                                strict attention.</p>
                        </div>
                        <ul>
                            <li>
                                <h4>USA</h4>
                                <p>address <br />+92 111-111-1111</p>
                            </li>
                            <li>
                                <h4>USA</h4>
                                <p>Address <br />+11 111-111-111</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
<!--                        <form action="#">-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-6">-->
<!--                                    <input type="text" placeholder="Name">-->
<!--                                </div>-->
<!--                                <div class="col-lg-6">-->
<!--                                    <input type="text" placeholder="Email">-->
<!--                                </div>-->
<!--                                <div class="col-lg-12">-->
<!--                                    <textarea placeholder="Message"></textarea>-->
<!--                                    <button type="submit" class="site-btn">Send Message</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

 {%endblock%}