
{% extends 'base.html' %}

{%block content%}


<style>

#container {
   width: 150px;
   height: 100px;
}

#container img {
   width: 100%;
}

    h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
	text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: #7ac400;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #7ac400;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #7ac400;
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 40px;
	background: #7ac400;
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
	background: #78bf00;
	opacity: 1;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: #fff;
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -2px;
}
.carousel-control-next i {
	margin-right: -4px;
}
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
	background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}


</style>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">

            <div class="hero__items set-bg" data-setbg={{url_for("static", filename="img/banner/hero-1.jpg")}}>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h2 style="">Tomato (leucistic melanoid)</h2>
                                <p style="">From Strohl's Herptiles.</p>
                                <a href="#" class="primary-btn">Shop now <span class=""></span></a>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="hero__items set-bg" data-setbg={{url_for("static", filename="img/images/tomato_touchup.jpg")}}>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h2 style="color:white">Tomato (leucistic melanoid)</h2>
                                <p style="color:white">From Strohl's Herptiles.</p>
                                <a href="#" class="primary-btn">Shop now <span class=""></span></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li ></li>
                        <li style="color: black;">Products</li>
                        <li ></li>
                    </ul>
                </div>
                
            </div>
            
            <div class="row product__filter">


     {%for products in product.items%}

                <div class="col-sm-3" style="padding:2%;">
							<div class="thumb-wrapper" style="background-color:#f8f5fa; border-radius:15px; box-shadow: 5px 10px #f0dcf7;" >
								<span class="wish-icon"><i class=""></i></span>

                                <div id="">
                                    <a href={{url_for('product_details', id="")}}{{products.id}}>
    <img src={{url_for("static", filename="images/")}}{{products.image}} alt="" width="250px" height="210px"  style="border-radius:15px;" />
                                    </a>
</div>

                                <br><br>
								<div class="thumb-content">
									<h4>{{products.name[:17]}}</h4>
									<div class="star-rating">
<!--										<ul class="list-inline">-->
<!--											<li class="list-inline-item"><i class="fa fa-star"></i></li>-->
<!--											<li class="list-inline-item"><i class="fa fa-star"></i></li>-->
<!--											<li class="list-inline-item"><i class="fa fa-star"></i></li>-->
<!--											<li class="list-inline-item"><i class="fa fa-star"></i></li>-->
<!--											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>-->
<!--										</ul>-->
									</div>
									<p class="item-price"><b>${{products.unit_price}}</b></p>

                                    <a class="option1" id="add_cart{{products.id}}">
                                    <form id="cart_form">
                                 <input type="hidden" id="item_id{{products.id}}" value="{{products.id}}">
                            <button href="#" class="btn" style="background-color:black; color:white;">Add to Cart</button>
                            </form></a>



								</div>
							</div>
						</div>





                 <script type="text/javascript">
         $(document).on('submit','#add_cart{{products.id}}',function(e)
                        {
           e.preventDefault();
           $.ajax({
             type:'POST',
             url:'/cart',
             data:{
               product_id:$("#item_id{{products.id}}").val()
             },
             success:function(data)
             {



                 if (data['value'] != ""){
                     $("#lblCartCount").html(data['value'])
                 }





             // $(this).closest('form').find("input[type=password]").val("");
             $("input[name=password]").val('');
             $("input[name=r_password]").val('');
             //   alert(data['data']);


             }
           })
         });
       </script>

                {%endfor%}














            </div>
<br>
            <div class="col-lg-12">
                              <!-- Pagination Links-->
            <div class="text-center">
               <a href="{{ url_for('Home', page=product.prev_num) }}"
                  class="btn
                  {% if product.page == 1 %}disabled{% endif %}" style="color:white; background-color:black;">
                   &laquo;
               </a>

            {% for page_num in product.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}

                       {% if product.page == page_num %}
                       <a href="{{ url_for('Home', page=page_num) }}"
                          class="btn" style="color:white; background-color:black;">
                           {{ page_num }}
                       </a>
                       {% else %}
                       <a href="{{ url_for('Home', page=page_num) }}"
                          class="btn" style="color:white; background-color:black;">
                           {{ page_num }}
                       </a>
                       {% endif %}
                   {% else %}
                       ...
                   {% endif %}
               {% endfor %}
               <a href="{{ url_for('Home', page=product.next_num) }}"
                  class="btn
                  {% if product.page == product.pages %}disabled{% endif %}" style="color:white; background-color:black;">
                   &raquo;
               </a>


            <p class="text-center mt-3">
              Showing page {{ product.page }} of {{ product.pages }}
            </p>

            </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

   

    


   {%endblock%}