
{%extends 'base.html'%}
{%block content%}

    <!-- Shop Details Section Begin -->
    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container" style="width:50%;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href={{url_for('Home')}}>Home</a>
                            <a href="">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>


                <div class="lightbox">
  <div class="row">
    <div class="col-lg-6">
      <img
        src="{{url_for("static", filename="images/")}}{{product.image}}"

        alt=""
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />

      <img
        src="{{url_for("static", filename="images/")}}{{product.image2}}"

        alt=""
        class="w-100 shadow-1-strong rounded"
      />
    </div>
    <div class="col-lg-6">
      <img
        src="{{url_for("static", filename="images/")}}{{product.image3}}"
        alt=""
        class="w-100 shadow-1-strong rounded"
      />
    </div>
  </div>
</div>


            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">

                        <div class="product__details__text">
                            <h4>{{product.name}}</h4>
                            <div class="rating">
<!--                                <i class="fa fa-star"></i>-->
<!--                                <i class="fa fa-star"></i>-->
<!--                                <i class="fa fa-star"></i>-->
<!--                                <i class="fa fa-star"></i>-->
<!--                                <i class="fa fa-star-o"></i>-->
<!--                                <span> - 5 Reviews</span>-->
                            </div>
                            <h3>$ {{product.unit_price}}</h3>
                            <p>{{product.description}}</p>
                            <div class="product__details__option">
<!--                                <div class="product__details__option__size">-->
<!--                                    <span>Size:</span>-->
<!--                                    <label for="xxl">xxl-->
<!--                                        <input type="radio" id="xxl">-->
<!--                                    </label>-->
<!--                                    <label class="active" for="xl">xl-->
<!--                                        <input type="radio" id="xl">-->
<!--                                    </label>-->
<!--                                    <label for="l">l-->
<!--                                        <input type="radio" id="l">-->
<!--                                    </label>-->
<!--                                    <label for="sm">s-->
<!--                                        <input type="radio" id="sm">-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                                <div class="product__details__option__color">-->
<!--                                    <span>Color:</span>-->
<!--                                    <label class="c-1" for="sp-1">-->
<!--                                        <input type="radio" id="sp-1">-->
<!--                                    </label>-->
<!--                                    <label class="c-2" for="sp-2">-->
<!--                                        <input type="radio" id="sp-2">-->
<!--                                    </label>-->
<!--                                    <label class="c-3" for="sp-3">-->
<!--                                        <input type="radio" id="sp-3">-->
<!--                                    </label>-->
<!--                                    <label class="c-4" for="sp-4">-->
<!--                                        <input type="radio" id="sp-4">-->
<!--                                    </label>-->
<!--                                    <label class="c-9" for="sp-9">-->
<!--                                        <input type="radio" id="sp-9">-->
<!--                                    </label>-->
<!--                                </div>-->
                            </div>
                            <div class="product__details__cart__option">
                               <a class="option1" id="add_cart">

                              <form id="cart_form">
                                 <input type="hidden" id="item_id" value="{{product.id}}">

                           <button type="submit" class="btn " style="color:white; background-color:black">add to cart</button>
                           </form>
                           </a>
                            </div>

                            <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>
                                <img src="img/shop-details/details-payment.png" alt="">
                                <ul>
<!--                                    <li><span>SKU:</span> 3812912</li>-->
                                    <li><span>Category:</span> {{product.category}}</li>
                                    <li><span>Tags:</span> {{product.tags}}</li>
<!--                                    <li><span>Tag:</span> Clothes, Skin, Body</li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                    role="tab">Description</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">Additional
                                    information</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <p class="note">{{product.name}}</p>
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>{{product.description}}</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane" id="tabs-7" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <p class="note">{{product.name}}</p>
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>{{product.additional_description}}</p>
                                        </div>
                                        <div class="product__details__tab__content__item">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
         $(document).on('submit','#add_cart',function(e)
                        {
           e.preventDefault();
           $.ajax({
             type:'POST',
             url:'/cart',
             data:{
               product_id:$("#item_id").val()
             },
             success:function(data)
             {

                 if (data['value'] != ""){
                     $("#lblCartCount").html(data['value'])
                 }

             // $(this).closest('form').find("input[type=password]").val("");
             $("input[name=password]").val('');
             $("input[name=r_password]").val('');
             //   alert(data['data']);


             }
           })
         });
       </script>


    </section>
    <!-- Shop Details Section End -->


<br><br><br><br>

  {%endblock%}