{%extends 'base.html' %}

{%block content%}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="{{url_for('Home')}}">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="/search" method="post">
                                <input type="text" name="search" placeholder="Search...">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample" >
                                <div class="card" style="background-color:#f9faed;">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul class="">
                                                    {%if cat == "Plushies"%}
                                                    <li style="color:white; background-color:black; font-size:20px; font-weight:bold;"><a href="/pro_cat/Plushies">Plushies ({{plushies | length}})</a></li>
                                                    {%else%}
                                                    <li ><a href="/pro_cat/Plushies">Plushies ({{plushies | length}})</a></li>
                                                    {%endif%}

                                                    {%if cat == "Handmade"%}
                                                    <li style="color:white; background-color:black; font-size:20px; font-weight:bold;"><a href="/pro_cat/Handmade">Handmade Item ({{handmade | length}})</a></li>
                                                    {%else%}
                                                    <li><a href="/pro_cat/Handmade">Handmade Item ({{handmade | length}})</a></li>
                                                    {%endif%}

                                                    {%if cat == "Swag"%}
                                                    <li style="color:white; background-color:black; font-size:20px; font-weight:bold;"><a href="/pro_cat/Swag">swag ({{swag|length}})</a></li>
                                                    {%else%}
                                                    <li><a href="/pro_cat/Swag">swag ({{swag|length}})</a></li>
                                                    {%endif%}


                                                    {%if cat == "Axolotls"%}
                                                    <li style="color:white; background-color:black; font-size:20px; font-weight:bold;"><a href="/pro_cat/Axolotls">Axolotls ({{axolotls |length}})</a></li>
                                                    {%else%}
                                                    <li><a href="/pro_cat/Axolotls">Axolotls ({{axolotls|length}})</a></li>
                                                    {%endif%}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="#">Louis Vuitton</a></li>
                                                    <li><a href="#">Chanel</a></li>
                                                    <li><a href="#">Hermes</a></li>
                                                    <li><a href="#">Gucci</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->




{% if cat == "Axolotls" %}

                                <div class="card" id="axol" style="background-color:#f9faed;">
                                    <div class="card-heading">


                                        <a data-toggle="collapse" data-target="#collapseThrees">Filter</a>

                                    </div>

                                                                        <div id="collapseThrees" class="collapse show" data-parent="#accordionExample">
  <div class="card-body">


      <br>

<form method="post" action="/filter">
<div class="row">
  <div class="col-2 col-sm-2">

    <select class="mdb-select md-form colorful-select dropdown-primary" data-val="true"
      data-val-required="The RoleID field is required." id="RoleID" name="size">
        <option value="">Size</option>
                        <option>3-5</option>
                        <option>5-7</option>
                        <option>7+</option>
    </select>

  </div>

    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;

<div class="col-3 col-sm-3">
  <select class="mdb-select md-form colorful-select dropdown-primary" data-val="true"
    data-val-required="The RoleID field is required." id="gender" name="gender">
      <option value="">Select Gender</option>
                        <option>Unknown</option>
                        <option>Confirmed Male</option>
                        <option>Confirmed Female</option>
  </select>

</div>


<br><br>

    <div class="row">
&nbsp;
    <div class="col-3">
  <select class="mdb-select md-form colorful-select dropdown-primary"  id="homo" name="homo"    >

      <option value="">Select Homozygous Traits</option>
                        <option value="GFP">GFP</option>
                        <option value="RFP">RFP</option>
                        <option value="Albino">Albino</option>
                        <option value="Copper">Copper</option>
                        <option value="Melanoid">Melanoid</option>
                        <option value="Axanthic">Axanthic</option>
                        <option value="Leucistic">Leucistic</option>
                        <option value="Wild">Wild</option>
  </select>


        <script>
        $(document).ready(function(){
            $('#homo').on("change", function(){
            console.log("hello testing");
            if ($('#homo').val() == "Albino"){
            document.getElementById('albino').style.display = "block";
            document.getElementById('melanoid').style.display = "none";
            document.getElementById('leucistic').style.display = "none";
            document.getElementById('wild').style.display = "none";
            }
            else if($('#homo').val() == "Melanoid"){
            document.getElementById('albino').style.display = "none";
            document.getElementById('leucistic').style.display = "none";
            document.getElementById('wild').style.display = "none";
            document.getElementById('melanoid').style.display = "block";
            }
            else if($('#homo').val() == "Leucistic") {

            document.getElementById('albino').style.display = "none";
            document.getElementById('melanoid').style.display = "none";
            document.getElementById('leucistic').style.display = "block";
            document.getElementById('wild').style.display = "none";
            }
            else if($('#homo').val() == "Wild"){
            document.getElementById('albino').style.display = "none";
            document.getElementById('melanoid').style.display = "none";
            document.getElementById('leucistic').style.display = "none";
            document.getElementById('wild').style.display = "block";
            }
            else{

            document.getElementById('albino').style.display = "none";
            document.getElementById('melanoid').style.display = "none";
            document.getElementById('leucistic').style.display = "none";
            }
            });
            });
        </script>

</div>

&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;



        <div class="col-3"  id="albino" style="display:none">

  <select class="" data-val="true"
    data-val-required="The RoleID field is required." id="abc" name="albino">
       <option value="">type</option>
                        <option>Regular</option>
                        <option>Golden</option>
                      </select>
  </select>

</div>


                <div class="col-3"  id="melanoid" style="display:none">

  <select class="" data-val="true"
    data-val-required="The RoleID field is required." id="" name="melanoid">
   <option value="">type</option>
                        <option>Regular</option>
                        <option>Hypomelanistic</option>
  </select>

</div>



        <div class="col-3"  id="leucistic" style="display:none">

  <select class="" data-val="true"
    data-val-required="The RoleID field is required." id="" name="leucistic">
       <option value="">type</option>
                        <option>Clean</option>
                        <option>Freckled</option>
                        <option>Very Dirty</option>
  </select>

</div>



        <div class="col-3"  id="wild" style="display:none">

  <select class="" data-val="true"
    data-val-required="The RoleID field is required." id="" name="wild">
       <option value="">Select Wild Type</option>
                        <option>Standard</option>
                        <option>Starburst</option>
                        <option>Light</option>
                        <option>Dark</option>
  </select>

</div>








        </div>


<br><br>
    <div class="row">
        &nbsp;
                <div class="col-2">
  <select class="mdb-select md-form colorful-select dropdown-primary"  id="heter" name="heter">
       <option value="">Select Heterozygous Traits</option>
                        <option>Albino</option>
                        <option>Copper</option>
                        <option>Melanoid</option>
                        <option>Leucistic</option>
  </select>
        </div>

    </div>


</div>

  </div>
                                </div>
                                    <br>
                                    <input type="submit" class="btn btn-dark" value="apply filter">
                                    </form>
                                    <br><br><br><br><br><br><br><br><br><br><br><br>

</div>

                                {%else%}
                                <div class="card" style="background-color:#f9faed;">

                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter</a>
                                    </div>


                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">




                                        <div class="card-body">
                                            <div class="shop__sidebar__price">

                                                <ul>

                                                    <li>

                                                    </li>
                                                    {%if cat == "Plushies"%}
                                                    {%if sub_cat == "Blue"%}
                                                    <li style="color:white; background-color:black;"> <a href="/sub_cat/Plushies/Blue">Blue</a></li>
                                                    {%else%}
                                                    <li> <a href="/sub_cat/Plushies/Blue">Blue</a></li>
                                                    {%endif%}

                                                    {%if sub_cat == "Purple" %}
                                                    <li style="color:white; background-color:black;"> <a href="/sub_cat/Plushies/Purple">Purple</a></li>
                                                    {%else%}
                                                    <li> <a href="/sub_cat/Plushies/Purple">Purple</a></li>
                                                    {%endif%}

                                                    {%if sub_cat == "Black"%}
                                                    <li style="color:white; background-color:black;"> <a href="/sub_cat/Plushies/Black">black </a></li>
                                                    {%else%}
                                                    <li> <a href="/sub_cat/Plushies/Black">black </a></li>
                                                    {%endif%}
                                                    {%endif%}

                                                    {%if cat == "Handmade"%}

                                                    {%if sub_cat == "Crochet"%}
                                                    <li style="color:white; background-color:black;"> <a href="/sub_cat/Handmade/Crochet">Crochet</a></li>
                                                    {%else%}
                                                    <li> <a href="/sub_cat/Handmade/Crochet">Crochet</a></li>
                                                    {%endif%}
                                                    {%if sub_cat == "Clay"%}
                                                    <li style="color:white; background-color:black;"> <a href="/sub_cat/Handmade/Clay"> Clay </a></li>
                                                    {%else%}
                                                    <li> <a href="/sub_cat/Handmade/Clay"> Clay </a></li>
                                                    {%endif%}
                                                    {%endif%}


                                                    {%if cat == "Swag"%}

                                                    {%if sub_cat == "Shirts"%}
                                                    <li style="color:white; background-color:black;"> <a href="/sub_cat/Swag/Shirts"> Shirts </a></li>
                                                    {%else%}
                                                    <li> <a href="/sub_cat/Swag/Shirts"> Shirts </a></li>
                                                    {%endif%}

                                                    {%if sub_cat == "Hats"%}
                                                    <li style="color:white; background-color:black;"> <a href="/sub_cat/Swag/Hats"> Hats </a></li>
                                                    {%else%}
                                                    <li> <a href="/sub_cat/Swag/Hats"> Hats </a></li>
                                                    {%endif%}
                                                    {%endif%}

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
                                                <label for="xs">xs
                                                    <input type="radio" id="xs">
                                                </label>
                                                <label for="sm">s
                                                    <input type="radio" id="sm">
                                                </label>
                                                <label for="md">m
                                                    <input type="radio" id="md">
                                                </label>
                                                <label for="xl">xl
                                                    <input type="radio" id="xl">
                                                </label>
                                                <label for="2xl">2xl
                                                    <input type="radio" id="2xl">
                                                </label>
                                                <label for="xxl">xxl
                                                    <input type="radio" id="xxl">
                                                </label>
                                                <label for="3xl">3xl
                                                    <input type="radio" id="3xl">
                                                </label>
                                                <label for="4xl">4xl
                                                    <input type="radio" id="4xl">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

<!--                                 <div class="card">-->
<!--                                    <div class="card-heading">-->
<!--                                        <a data-toggle="collapse" data-target="#collapseFive">Colors</a>-->
<!--                                    </div>-->
<!--                                    <div id="collapseFive" class="collapse show" data-parent="#accordionExample">-->
<!--                                        <div class="card-body">-->
<!--                                            <div class="shop__sidebar__color">-->
<!--                                                <label class="c-1" for="sp-1">-->
<!--                                                    <input type="radio" id="sp-1">-->
<!--                                                </label>-->
<!--                                                <label class="c-2" for="sp-2">-->
<!--                                                    <input type="radio" id="sp-2">-->
<!--                                                </label>-->
<!--                                                <label class="c-3" for="sp-3">-->
<!--                                                    <input type="radio" id="sp-3">-->
<!--                                                </label>-->
<!--                                                <label class="c-4" for="sp-4">-->
<!--                                                    <input type="radio" id="sp-4">-->
<!--                                                </label>-->
<!--                                                <label class="c-5" for="sp-5">-->
<!--                                                    <input type="radio" id="sp-5">-->
<!--                                                </label>-->
<!--                                                <label class="c-6" for="sp-6">-->
<!--                                                    <input type="radio" id="sp-6">-->
<!--                                                </label>-->
<!--                                                <label class="c-7" for="sp-7">-->
<!--                                                    <input type="radio" id="sp-7">-->
<!--                                                </label>-->
<!--                                                <label class="c-8" for="sp-8">-->
<!--                                                    <input type="radio" id="sp-8">-->
<!--                                                </label>-->
<!--                                                <label class="c-9" for="sp-9">-->
<!--                                                    <input type="radio" id="sp-9">-->
<!--                                                </label>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="card">-->
<!--                                    <div class="card-heading">-->
<!--                                        <a data-toggle="collapse" data-target="#collapseSix"></a>-->
<!--                                    </div>-->
<!--                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">-->
<!--                                        <div class="card-body">-->
<!--                                            <div class="shop__sidebar__tags">-->
<!--                                                <a href="#">tag1</a>-->
<!--                                                <a href="#">tag2</a>-->
<!--                                                <a href="#">tag3</a>-->
<!--                                                <a href="#">tag4</a>-->
<!--                                                <a href="#">tag5</a>-->
<!--                                                <a href="#">tag6</a>-->
<!--                                                <a href="#">tag7</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->



                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing page {{ product.page }} of {{ product.pages }}</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
<!--                                    <p>Sort by Price:</p>-->
<!--                                    <select>-->
<!--                                        <option value="">Low To High</option>-->
<!--                                        <option value="">$0 - $55</option>-->
<!--                                        <option value="">$55 - $100</option>-->
<!--                                    </select>-->
                                </div>
                            </div>
                        </div>
                    </div>



<section class="section-products" >
		<div class="container">
            {%if not product.items%}
            <p style="background-color:yellow">sorry no result founded!</p>
            {%else%}
				<div class="row">
						<!-- Single Product -->

					{% for products in product.items %}
					<style>
					.section-products #product-{{products.id}} .part-1::before {
 					   background: url('{{url_for('static',filename='images/')}}{{products.image}}') no-repeat center;
    					background-size: cover;
						transition: all 0.3s;
						}
						</style>

						<div class="col-md-6 col-lg-4 col-xl-3" id="testing{{products.id}}" >
								<div id="product-{{products.id}}" class="single-product"  >
										<div class="part-1" style="">
<!--											<span class="discount">15% off</span>-->
												<ul>
													<li></li>
													<li></li>
													<li></li>
													<li></li>
													<li></li>
													<li></li>
													<li></li>
													<li></li>




														<li>
															<a class="option1" id="add_cart{{products.id}}">
															<i class="fa fa-shopping-cart"></i>
														  <form id="cart_form">
                                 <input type="hidden" id="item_id{{products.id}}" value="{{products.id}}">

                            </form>
														</a>


														</li>



														<li></li>
												</ul>
										</div>
										<div class="part-2">
												<h3 class="product-title">{{products.name[:20]}}</h3>
<!--												<h4 class="product-old-price">$79.99</h4>-->
												<h4 class="product-price">${{products.unit_price}}</h4>
										</div>
								</div>
						</div>


					                 <script type="text/javascript">



					                var elementClicked;
$("#add_cart{{products.id}}").click(function(e){
   elementClicked = true;


   if( elementClicked != true ) {

}else{

    e.preventDefault();
}
});

$("#testing{{products.id}}").click(function(){
if( elementClicked != true ) {
 $(document).on("click", '#testing{{products.id}}', function(e){
					                 window.location.href = "/details/{{products.id}}";
					                 });
}else{
    elementClicked = false;
}
});


         $(document).on('click','#add_cart{{products.id}}',function(e)
                        {
           e.preventDefault();
           $.ajax({
             type:'POST',
             url:'/cart',
             data:{
               product_id:$("#item_id{{products.id}}").val()
             },
             success:function(data)
             {



                 if (data['value'] != ""){
                     $("#lblCartCount").html(data['value']);
                     $("#lblCartCount2").html(data['value']);
                 }





             // $(this).closest('form').find("input[type=password]").val("");
             $("input[name=password]").val('');
             $("input[name=r_password]").val('');
             //   alert(data['data']);


             }
           })
         });




       </script>
					{%endfor%}
{%endif%}
				</div>
		</div>
</section>




                    <br><br><br>
                    <div class="row">
                                   <div class="col-lg-12">
                              <!-- Pagination Links-->
            <div class="text-center">
               <a href="{{ url_for('Home', page=product.prev_num) }}"
                  class="btn
                  {% if product.page == 1 %}disabled{% endif %}" style="color:white; background-color:black;">
                   &laquo;
               </a>

            {% for page_num in product.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}

                       {% if product.page == page_num %}
                       <a href="{{ url_for('Home', page=page_num) }}"
                          class="btn" style="color:white; background-color:black;">
                           {{ page_num }}
                       </a>
                       {% else %}
                       <a href="{{ url_for('Home', page=page_num) }}"
                          class="btn" style="color:white; background-color:black;">
                           {{ page_num }}
                       </a>
                       {% endif %}
                   {% else %}
                       ...
                   {% endif %}
               {% endfor %}
               <a href="{{ url_for('Home', page=product.next_num) }}"
                  class="btn
                  {% if product.page == product.pages %}disabled{% endif %}" style="color:white; background-color:black;">
                   &raquo;
               </a>


            <p class="text-center mt-3">
              Showing page {{ product.page }} of {{ product.pages }}
            </p>

            </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    {%endblock%}